@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ }

@model CloudeDemmo.ViewModels.TrainPageViewModel

<head>
    <link rel="stylesheet" href="~/css/styles1.css">

    <link rel="stylesheet" href="~/css/bootstrap.min1.css">
    <style>
        body {
            background-image: url('~/wwwroot/images/hero_bg_1.jpg');
        }

        .nav1 {
            width: 500px;
            height: 600px;
            background-color: rgb(13, 253, 5);
            opacity: 0.5;
            margin: 50px auto;
            border-radius: 50px;
            border: rgb(0, 0, 0) solid 3px;
        }

        .nav2 {
            color: #00B72E;
            opacity: 0.6;
            text-align: right;
            font-weight: bold;
        }

        .file {
            position: absolute;
            top: 20px;
            right: 300px;
            top: 0;
            right: 73px;
            width: 0px;
            height: 30px;
            opacity: 0;
        }

        .nav3 {
            height: 60px;
            text-align: center;
            vertical-align: middle;
            margin: 0 auto;
        }
    </style>

</head>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 text-center align-self-center text-intro">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="container" id="login">
                        <div class="row justify-content-center">

                            <div class="login">
                                <h1>@Model.PageTitle</h1>



                                <form enctype="multipart/form-data" asp-controller="Dataset" asp-action="Create" method="post">

                                @if (Model.Result != null)
                                {
                                     @foreach (var result in Model.Result)
                                      {
                                        <div>
                                           ！！！@result
                                        </div>}}
                                    


                                    @section Scripts{
                                        <script type="text/javascript">$(document).ready(function () {
                                                $('.custom-file-input').on('change', function () {
                                                    var fileName = $(this).val().split('\\').pop();
                                                    $(this).next('.custom-file-label').html(fileName);
                                                });

                                                $('#gallery-input').on('change', function () {
                                                    var label = $(this).next('#gallery-label');
                                                    var files = $(this)[0].files;
                                                    if (files.length > 1) {
                                                        label.html(`你已经选择了${files.length}个文件`);
                                                    } else if (files.length == 1) {
                                                        label.html(files[0].name);
                                                    }
                                                });
                                            });</script>
                                    }
                                    <!-- End Loging form -->
                                </form>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@*
<h1>@Model.PageTitle</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 text-center align-self-center text-intro">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div>
                        ===============================================
                    </div>

                    <div>
                        @if (Model.Result != null)
                        {
            @foreach (var result in Model.Result)
            {
<div>
    ！！！@result
</div>}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
*@