@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!--@{ }

@model CloudeDemmo.ViewModels.TrainPageViewModel


<h1>@Model.PageTitle</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 text-center align-self-center text-intro">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div>
                        ===============================================
                    </div>

                    <div>
                        @if (Model.Result != null)
                        {
            @foreach (var result in Model.Result)
            {
<div>
    ！！！@result
</div>}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
