@{
    ViewData["Title"] = "Home Page";
}

<div class="site-blocks-cover overlay bg-light" style="background-color:aquamarine !important; " id="home-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center align-self-center text-intro">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <h1 class="text-white" data-aos="fade-up" data-aos-delay="">XXXXXXXXXXXXXXXXXXXX</h1>
                        <p class="lead text-white" data-aos="fade-up" data-aos-delay="100">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos magnam maxime voluptates libero, nobis impedit aut corrupti sunt possimus.</p>
                        <p data-aos="fade-up" data-aos-delay="200"><a href="#services-section" class="btn smoothscroll btn-primary">训练类型</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
